[submodule "lib/susu"]
	path = lib/susu
	url = git@github.com:najamelan/susu.git
[submodule "lib/core_extend"]
	path = lib/core_extend
	url = git@github.com:najamelan/TidBits_Ruby_CoreExtend.git
[submodule "lib/options"]
	path = lib/options
	url = git@github.com:najamelan/TidBits_Ruby_Options.git
[submodule "lib/fs"]
	path = lib/fs
	url = git@github.com:najamelan/TidBits_Ruby_Fs.git
[submodule "lib/facts"]
	path = lib/facts
	url = git@github.com:najamelan/TidBits_Ruby_Facts.git
[submodule "lib/git"]
	path = lib/git
	url = git@github.com:najamelan/TidBits_Ruby_Git.git
